.middleImg {
    vertical-align: middle;
}

.centerred {
    text-align: center;
}

.bolded {
    font-weight: bold;
}

a {
    font-size: small;
}

table {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
